.icon-local img{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.icon-home {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/home.png') no-repeat center;
  background-size: contain;
}

.icon-wifi {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/wifi.png') no-repeat center;
  background-size: contain;
}

.icon-info {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/information-circle.png') no-repeat center;
  background-size: contain;
}

.icon-reload {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/reload-circle.png') no-repeat center;
  background-size: contain;
}

.icon-close-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/close-circle.png') no-repeat center;
  background-size: contain;
}

.icon-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/close.png') no-repeat center;
  background-size: contain;
}
.icon-server {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/server.png') no-repeat center;
  background-size: contain;
}

.icon-settings {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/settings.png') no-repeat center;
  background-size: contain;
}

.icon-menu {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/menu.png') no-repeat center;
  fill:red;
  background-size: contain;
}

.icon-apps {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/apps.png') no-repeat center;
  background-size: contain;
}

.icon-git {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/logo-github.png') no-repeat center;
  background-size: contain;
}

.icon-bluetooth {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/bluetooth.png') no-repeat center;
  background-size: contain;
}

.icon-alert {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/alert-circle.png') no-repeat center;
  background-size: contain;
}

.icon-caret-down {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/static/icons/caret-down.png') no-repeat center;
  background-size: contain;
}
