{% args titulo, appname, modo, apps %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
  {% include 'top_bar.html' %}
  <div class="w3-container w3-padding-16 w3-center w3-animate-top">
    <div class="w3-card w3-round-large w3-padding-32 w3-margin-bottom w3-white w3-max-width">
      <h2 class="w3-text-indigo">Cargar Nueva App</h2>
      <form action="/upload" method="post" enctype="multipart/form-data" class="w3-row-padding w3-margin-top">
        <div class="w3-col l6 m6 s12 w3-padding">
          <label for="file-input" class="w3-button w3-blue w3-round-large w3-block">
            <ion-icon name="archive-outline" style="font-size: 20px; vertical-align: middle;"></ion-icon>
            <span style="vertical-align: middle;">Seleccionar Archivo</span>
          </label>
          <input id="file-input" type="file" name="file" accept=".zip" style="display:none;">
        </div>
        <div class="w3-col l6 m6 s12 w3-padding">
          <input type="submit" class="w3-button w3-blue w3-round-large w3-block" value="INSTALAR">
        </div>
      </form>
    </div>
    <div class="w3-content w3-padding-16">
      <ul class="w3-ul w3-card w3-round-large w3-white">
        {% if apps %}
          {% for app in apps %}
          <li class="w3-bar w3-padding-16 w3-hover-shadow w3-border-bottom">
            <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-large w3-right w3-hover-red">×</span>
            <img src="static/micropython.png" class="w3-bar-item w3-circle w3-hide-small" style="width:65px">
            <div class="w3-bar-item">
              <span class="w3-large w3-text-indigo">{{ app }}</span><br>
              <span class="w3-small w3-text-gray">Descripción de {{ app }}</span>
            </div>
          </li>
          {% endfor %}
        {% else %}
          <li class="w3-bar w3-padding-32">
            <span class="w3-large w3-text-gray">No hay apps instaladas</span>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
