{% args titulo, appname, modo, apps, msj, tema %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body class="{{ tema }}-theme">
  {% include 'top_bar.html' %}

  <div class="w3-container w3-padding-16 w3-center w3-animate-top">

    <div class="w3-card w3-round-large w3-padding-32 w3-margin-bottom w3-white w3-max-width">
      <h2 class="w3-text-indigo">Cargar Nueva App</h2>
      <form action="/upload" method="post" enctype="multipart/form-data" class="w3-row-padding w3-margin-top">
        <div class="w3-col l6 m6 s12 w3-padding">
          <label for="file-input" class="w3-button w3-blue w3-round-large w3-block">
            <ion-icon name="archive-outline" style="font-size: 20px; vertical-align: middle;"></ion-icon>
            <span style="vertical-align: middle;">Seleccionar Archivo</span>
          </label>
          <input id="file-input" type="file" name="file_app" accept=".tar" style="display:none;">
        </div>
        <div class="w3-col l6 m6 s12 w3-padding">
          <input type="submit" class="{{ tema }}-theme w3-button w3-round-large w3-block" value="INSTALAR">
        </div>
      </form>
    </div>
    
    <div class="w3-row-padding w3-padding-16 w3-content">
      {% if apps %}
        {% for app in apps %}
        <div class="w3-third w3-padding">
          <div class="w3-card-4 w3-white w3-round-large">
            <header class="w3-container w3-blue w3-round-top">
              <h4 class="w3-margin-top">
                <img src="static/micropython.png" style="height:24px; vertical-align:middle; margin-right:8px;">
                {{ app }}
              </h4>
            </header>
            <div class="w3-container w3-padding">
              <p>Descripción de <strong>{{ app }}</strong></p>
            </div>
            <footer class="w3-container w3-light-grey w3-round-bottom">
              <small class="w3-text-gray">Autor: desconocido</small>
            </footer>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="w3-col w3-padding-32">
          <div class="w3-panel w3-pale-yellow w3-border w3-border-yellow w3-round-large">
            <h4><ion-icon name="information-circle-outline"></ion-icon> Aviso</h4>
            <p class="w3-text-gray">No hay aplicaciones instaladas actualmente.</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
