{% args theme, port, debug, appname, modo, tema, temas %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body class="{{ tema }}-theme">
  {% include 'top_bar.html' %}
  <div class="w3-container w3-padding w3-center w3-margin">
    <div class="w3-card w3-light-gray w3-round-large w3-padding">
      <h3 class="w3-text-indigo">Configuración del sistema</h3>
      <form method="post" class="w3-container w3-padding">
        <label class="w3-margin-top">Puerto:</label>
        <input type="number" name="port" value="{{ port }}" class="w3-input w3-border w3-margin">
        <hr>
        <br>
        <label class="w3-margin-top">Temas Disponibles:</label>
        <select name="theme" class="w3-select w3-border w3-margin">
          {% for tema_n in temas %}
            <option value="{{ tema_n }}" {% if tema == tema_n %}selected{% endif %}>
              {{ tema_n }}
            </option>
          {% endfor %}
        </select>
        <button type="button" onclick="document.getElementById('modalTema').style.display='block'"
          class="{{ tema }}-theme w3-button w3-round-large w3-margin-top">
          Crear Personalizado
        </button>
        <br><hr>
        <label class="w3-margin-top">
          <input type="checkbox" name="debug" {% if debug == 'True' %}checked{% endif %} class="w3-margin">
          Activar modo debug
        </label>
        <hr>
        <button type="submit" class="{{ tema }}-theme w3-button w3-round-large">Guardar Cambios</button>
      </form>
    </div>
    <div id="modalTema" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4 w3-round-large">
        <header class="w3-container {{ tema }}-theme w3-center">
          <span onclick="document.getElementById('modalTema').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
          <h2>Nuevo Tema</h2>
        </header>

        <form method="post" class="w3-container">
          <input type="hidden" name="crear_tema" value="1">

          <label class="w3-margin-top">Nombre del tema:</label>
          <input type="text" name="nombre_tema" class="w3-input w3-border w3-margin" required>

          <label class="w3-margin-top">Color de fondo (body_bg):</label>
          <input type="color" name="body_bg" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Color de texto (body_text):</label>
          <input type="color" name="body_text" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Fondo de botón (button_bg):</label>
          <input type="color" name="button_bg" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Texto de botón (button_text):</label>
          <input type="color" name="button_text" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Fondo header (header_bg):</label>
          <input type="color" name="header_bg" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Texto header (header_text):</label>
          <input type="color" name="header_text" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Fondo footer (footer_bg):</label>
          <input type="color" name="footer_bg" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Texto footer (footer_text):</label>
          <input type="color" name="footer_text" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Fondo nav (nav_bg):</label>
          <input type="color" name="nav_bg" class="w3-input w3-margin" required>

          <label class="w3-margin-top">Texto nav (nav_text):</label>
          <input type="color" name="nav_text" class="w3-input w3-margin" required>
          <br>
          <button type="submit" class="{{ tema }}-theme w3-button w3-round-large w3-margin-top">Guardar Tema</button>
          <br><br>
        </form>
      </div>
</div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
