{% args titulo, modo, apps %}
<html>
{% include 'head.html' %}
<body>
<div class="w3-top">
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" style="width:35%;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-right"
  onclick="w3_close()">Close &times;</button>
  {% for app in apps %}
  <a href="/{{ app }}/" class="w3-bar-item w3-button">{{ app }}</a>
  {% endfor %}
</div>
  <div class="w3-bar w3-blue w3-padding w3-card" style="letter-spacing:4px;" id="main">
    <a id="openNav" onclick="w3_open()" class="w3-bar-item w3-button w3-hover-blue"><h2>MICROKIOS</a></a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right" style="font-size:2em;">
      <a href="/" class="w3-bar-item w3-button w3-hover-blue">{% if modo == 'ap' %}<img src="static/icons/home.svg"/>{% else %}<ion-icon name="home-outline">{% endif %}</ion-icon></a>
      <a href="/wifi" class="w3-bar-item w3-button w3-hover-blue">{% if modo == 'ap' %}<img src="static/icons/wifi.svg"/>{% else %}<ion-icon name="wifi-outline"></ion-icon></a>
      <a href="/sobre" class="w3-bar-item w3-button w3-hover-blue">{% if modo == 'ap' %}<img src="static/icons/information-circle.svg"/>{% else %}<ion-icon name="information-circle"></ion-icon></a>
      <a href="/reiniciar" class="w3-bar-item w3-button w3-hover-blue">{% if modo == 'ap' %}<img src="static/icons/reload-circle.svg"/>{% else %}<ion-icon name="reload-circle"></ion-icon></a>
    </div>
  </div>
</div>
 <div class="w3-container w3-center w3-animate-top">
    <h1>KIOSKO VIRTUAL</h1>
    <p style="font-size:4em;"><ion-icon name="heart-circle-outline"></ion-icon><h2>FAVORITOS</h2></p>
      <div class="w3-card-4">
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <p>1 new friend request</p>
          <hr>
          <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">
          <p>President/CEO at Mighty Schools...</p>
       </div>

<button class="w3-button w3-block w3-dark-grey">+ Connect</button>

</div> 
</div>
{% include "footer.html" %}
 <script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</body>