{% args appname, titulo, modo, apps, board, mem, mem_perc %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; width:250px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-right" onclick="w3_close()">MENU<img src="static/icons/close.png" style="width:50px; float:inline-end"></button>
    {% for app in apps %}
    <div class="w3-bar-item w3-center">
      <a href="/{{ app }}/" class="w3-bar-item w3-button w3-hover-blue">{{ app }}</a>
    </div>
    {% endfor %}
  </div>
  <!-- Top bar -->
  <div class="w3-bar w3-blue" style="letter-spacing:4px; font-size:3em;" id="main">
    <a id="openNav" onclick="w3_open()" class="w3-bar-item w3-button w3-hover-blue">
      <img src="static/logo.png" style="width:50%;">
    </a>
    <div class="w3-bar-item w3-button"><h2>{{ titulo }}</h2></div>
    <!-- Right-sided navbar links -->
    <a href="/reiniciar" class="w3-bar-item w3-button w3-hover-gray w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">Reset</button>
      {% else %}
      <ion-icon name="reload-circle"></ion-icon>
      {% endif %}
    </a>
    <a href="/appm" class="w3-bar-item w3-button w3-hover-light w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">AppMan</button>
      {% else %}
      <ion-icon name="apps-outline"></ion-icon>
      {% endif %}
    </a>
    <a href="/sobre" class="w3-bar-item w3-button w3-hover-light w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">Sobre</button>
      {% else %}
      <ion-icon name="information-circle"></ion-icon>
      {% endif %}
    </a>
    <a href="/bt" class="w3-bar-item w3-button w3-hover-light w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">Bluetooth</button>
      {% else %}
      <ion-icon name="bluetooth-sharp"></ion-icon>
      {% endif %}
    </a>
    <a href="/wifi" class="w3-bar-item w3-button w3-hover-light w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">Wifi</button>
      {% else %}
      <ion-icon name="wifi-outline"></ion-icon>
      {% endif %}
    </a>
    <a href="/" class="w3-bar-item w3-button w3-hover-light w3-right">
      {% if modo == "ap" %}
      <button class="w3-button w3-large">Home</button>
      {% else %}
      <ion-icon name="home-sharp"></ion-icon>
      {% endif %}
    </a>
  </div>
  <!-- Main content -->
  <div class="w3-container w3-center w3-animate-top w3-margin-top">
    <div class="w3-row-padding w3-margin-bottom">

      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fas fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right"><h3>52</h3></div>
          <div class="w3-clear"></div><h4>Messages</h4></div>
        </div>

      </div>

      <div class="w3-container">
        <h5>{{ board }} Stats</h5>
        <p>Memoria (MB)</p>
        <div class="w3-grey"><div class="w3-container w3-center w3-padding w3-green" style="width:{{ mem_perc }}%">+{{ mem }}%</div></div>
        <p>Memoria</p>
        <div class="w3-grey"><div class="w3-container w3-center w3-padding w3-orange" style="width:50%">3.5%</div></div>
        <p>Bounce Rate</p>
        <div class="w3-grey"><div class="w3-container w3-center w3-padding w3-red" style="width:89%">99%</div></div>
      </div>
    </div>
    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "250px";
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }

    function w3_close() {
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
  </script>
  {% include "footer.html" %}
</body>
</html>
