<div id="AppsPanel" class="w3-hide w3-animate-top">
  <div class="w3-container w3-padding-large">
    <div class="w3-row-padding w3-center">
      {% for app in apps.values() %}
      <div class="w3-col s4 m4 l4 w3-padding">
        <a href="{{ app['url'] }}" class="w3-button w3-round-large w3-hover-opacity w3-hover-text-white">

          <div class="w3-padding-16">
            <div class="w3-circle">
              <img src="{{ app['icon'] }}" alt="{{ app['name'] }}" class="w3-image">
            </div>
          </div>
          <div class="w3-padding-small">
            <span class="w3-text-white w3-small">{{ app['name'] }}</span>
          </div>

          {% if app['fav'] == 'True' %}
          <div class="w3-display-topright w3-padding-small">
            <span class="w3-text-red">♥</span>
          </div>
          {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
