<div id="AppsPanel" class="w3-hide w3-animate-top" style="height: 350px; overflow: auto;">
  <div class="w3-container w3-padding-large">
    <div class="w3-row-padding w3-center">
      {% for app in apps.values() %}
      <div class="w3-col s4 m4 l4 w3-padding">
        <a class="w3-button w3-display-topright w3-padding-small">
          {% if app['fav'] == 'True' %}
          <span class="icon icon-heart icon-red icon-sm"></span>
          {% else %}
          <span class="icon icon-heart icon-gray icon-sm"></span>
          {% endif %}
        </a>
        <a href="{{ app['url'] }}"
        class="w3-button w3-round-large w3-hover-opacity w3-hover-text-white" stye="max-width:100px;">
          <div class="w3-padding-16">
            <div class="w3-circle">
              <img class="icon-app" src="{{ app['icon'] }}" alt="Icono {{ app['name'] }}" class="w3-image">
            </div>
          </div>
          <div class="w3-padding-small">
            <span class="w3-text-white">{{ app['name'] }}</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
