{% args msj, ssid, password, appname, modo, redes, name, ip %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
  {% include 'top_bar.html' %}
  <div class="w3-container w3-animate-top w3-center">
        {% if msj %}
        <div class="w3-panel w3-red">
          <h3>Error!</h3>
          <p>{{ msj }}</p>
        </div>
        {% endif %}
        <div class="w3-container w3-animate-bottom w3-margin w3-center">
          <a onclick="document.getElementById('wifiModal').style.display='block'" class="w3-button w3-large w3-center w3-teal">
            <span class="icon-wifi"></span>
          </a>
        </div>
        <div class="w3-container w3-card w3-white w3-margin">

            {% if msj %}
            <div class="w3-panel w3-pale-red w3-border w3-border-red w3-round-large">
                <p>{{ msj }}</p>
            </div>
            {% endif %}

            <form class="w3-container w3-padding" method="POST" action="/wifi">

                <label class="w3-text-teal"><b>Nombre de la Red (SSID):</b></label>
                <input class="w3-input w3-border w3-round" type="text" id="essid" name="essid" value="{{ ssid }}" required>
                <br>
                <label class="w3-text-teal"><b>Contraseña:</b></label>
                <input class="w3-input w3-border w3-round" type="password" id="password" name="password" value="{{ password }}" required>
                <br>
                <br>
                <label class="w3-text-teal"><b>Modo de conexión:</b></label>
                <select class="w3-select w3-border w3-round" name="modo" id="modo">
                    <option value="st" {% if modo == 'st' %}selected{% endif %}>Station (Cliente)</option>
                    <option value="ap" {% if modo == 'ap' %}selected{% endif %}>Access Point (Servidor)</option>
                </select>
                <br>
                <label class="w3-text-teal"><b>IP Fija (opcional):</b></label>
                <input class="w3-input w3-border w3-round" type="text" id="ip" name="ip" value="{{ ip }}">
                <br>
                <button class="w3-button w3-teal w3-margin w3-round-large w3-block" type="submit">
                    Conectar
                </button>
            </form>
      </div>
      <div id="wifiModal" class="w3-modal" style="z-index:10;">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round-large">
          <header class="w3-container w3-teal">
            <span onclick="document.getElementById('wifiModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h3><ion-icon name="wifi-outline"></ion-icon> Redes WiFi Disponibles</h3>
          </header>
          <div class="w3-container w3-padding">
            {% if redes %}
            <ul class="w3-ul w3-hoverable">
              {% for red in redes %}
              <li><a class="w3-button w3-block w3-left-align w3-white" href="/wifi?n={{ red }}">{{ red }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <div class="w3-center w3-padding-32">
              <p class="w3-xlarge"><ion-icon name="wifi-outline"></ion-icon></p>
              <p class="w3-text-gray">No se detectaron redes</p>
            </div>
            {% endif %}
          </div>
          <footer class="w3-container w3-light-grey w3-padding">
            <button class="w3-button w3-teal w3-round" onclick="location.reload();">Volver a Buscar</button>
          </footer>
        </div>
      </div>
  </div>
  <script>
  function myFunction() {
    var x = document.getElementById("passInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>
{% include "footer.html" %}
</body>
</html>
